.sfondo{
    
    background-image: url(/img/sfondo);
    width: 800px;
    height: 570px;
    background-position: center;
    margin : 70px auto;
    
    
}


.box{
    
    
    width: 400px;
    height:70px;
    margin : 65px auto;
    
}


.container{
    width:400px;
    height:70px;
    margin: 15px auto;

   
}

.tasto{
    display: inline-block;
    box-sizing: content-box;
    height: 45px;
    width: calc(100% / 5 - 0.2rem);
    margin: 0 auto;
    padding: 0.5rem;
    color:darkblue;
    background-color: white;
    font-size: 20px;
    border-radius: 20%;
    
}



.display{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

#calcoli{
    display: flex;
    height: 50px;
    width: 100%;
    text-align: right;
    font-size: 30px;
    color : white;
    margin :  5px auto;
    padding : 5px auto;
    border: 2px solid;
    border-color: white;
    border-radius: 5px;
    background-color: rgb(109, 132, 188);
}

